@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*google font Roboto, es recomdable dar estilos en el css, no el html*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* ***************header**************** */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1c71f186;
    padding: 15px;
    background-image: linear-gradient(to top, blue, #4da8f3);
}
header .logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo img{
    border-radius: 10px;
    transition: all 0.3s;
}
.logo img:hover{
    transform: scale(1.5);
}
.logo a{
    text-decoration: none; /*quito el subrayado del link*/
    font-size: 30px;
    font-weight: 900; /*texto en negrita*/
    color: black;
}
.logo p{
    margin: 20px; /*separa el logo de la imagen*/
}
.menu{ /*copio las mismas propiedades de flex,row,justify y align que en header logo*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none; /*saco las viñetas*/    
}
.menu li{
    margin: 10px; /*separa a los links entre si*/  
    font-size: 20px;
      
} 

.menu a{
    text-decoration: none; /*quito el subrayado del link*/
    color: black;
    font-size: 20px;
    font-weight: bold; /*texto del menu en negrita*/
    border: solid 1px #070b1386;
    border-radius: 20px;
    padding: 10px;
}
.menu a:hover{
    background-color: #808080b6;
    box-shadow: 0 4px 0 black; /*le puso menos valor (2) p/q de sensacion de que apreta un boton*/
}
/* *******************portada **************/
.portada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.portada p{
    font-size: 18px;
    text-align: center;    
    margin: 15px;
}
/* ****************main****************** */
main{
    background-color: #e5e5e5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px; /*para seprarlo de arriba,abajo y costados*/
    
}
.card{
    width: 350px;
    height: 400px;
    border: solid 1px #02063d;
    border-radius: 10px; /*se redondean las puntas del borde*/
    margin: 20px; /*para seprarlos entre ellos*/
}
.bateria{
    background-image: url(../img/bateriagrande.jpg);
    background-size: cover; /*cover agranda la imagen para que no se vuelva a repetir, ver otra propiedad
    que se llama object-fit que tiene propiedades para las imagenes*/
    
}
.bateria p{
    padding: 25px 30px;
}
.parrafo{  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #1c71f146;
    position: relative; /*el contenedor tiene relative, le doy esta posicion para poder modificar el boton
    estoy eligiendo el contenedor al que se van a ajustar los elementos que tengan absolute*/
}
.parrafo p{
    padding: 25px 30px; 
} 
.parrafo button{
    position: absolute; /*puedo poner absolute cuando tengo un relative, y es absolut xk es relativo a su
    contenedor, si no hubiera puesto relative arriba no podria ubicar el boton donde quiero*/
    bottom: 20px;
    left: 15px;
}
button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 0 black; /*para hacer una sombra al boton*/
    /*el ultimo 0 antes de black, es para la difuminacion, si quiero mas le pongo mas valor ej:10px
    el 0 es color solido*/
    background-color: grey;
    color: white;
    transition: all 0.3s;
}
button:hover{
    transform: translateY(2px); /*da la sensacion de que se mueve el boton*/
    box-shadow: 0 2px 0 black; /*le puso menos valor (2) p/q de sensacion de que apreta un boton*/
}

/* nosotros --- form---******** */
.nosotros{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: flex-start;
    background-color: white;    
    padding: 20px; 
    
}
.form input{
    height: 2.5rem; /*agrando las casillas del form*/
    width: 350px; /*agrando las casillas del form*/
    border-radius: 15px;
    background-color: #c6c6c6;
    border-width: 0px; /*les saca el borde a las cajitas*/
}
textarea{
    width: 451px;
    height: 210px;
}
.form input:focus{ /*focus es como un hover pero clickeando*/
   transform: scale(1.05); 
   transition: .8s;
   outline: none;/*le saca el bordecito a la casilla del form*/
}
/* Ventas - Productos, caja seleccion ***************************/

.seleccion{
    display: flex;
    flex-direction: row;
    margin: 20px;
    background-color: white;    
    padding: 20px;      
        
}
.producto{
    height: 40px;   
    
}

/**************** Inicio y Preguntas --- h2 ------ *********/
h2{
    color: black;
    animation-name: cambioColor; /*para que cambie de color el fondo del titulo con keyframes*/
    animation-duration: 5s;
    animation-iteration-count: infinite; /*para que se repita infinitas veces y no solo cuando cargo la pag
    si no quiero que sea infinitas veces, puedo poner una cantidad de veces, ejemplo:3 */
    padding: 15px;
    
}

/* **************** footer************** */

footer{
    background-color: #1c71f186; 
    text-align: right;
    padding: 5px;  
    height: 150px; 
    background-image: linear-gradient(to top, blue, #4da8f3);
}
footer ul{
    display: flex;
    list-style: none; /*saque las viñetas a los links*/
    justify-content: flex-end;    
    margin: 30px;
}
footer i{
    color: black;
    padding: 10px;
    font-size: 30px;
    border: solid 1px #070b1386;
    border-radius: 50%;
    margin: 20px;
    
}
footer a{
    text-decoration: none; /*saque la linea a los links*/
}

@keyframes cambioColor{
    0%{
        background-color: #8282f0;
    }
    25%{
        background-color: #6363f0;
    }
    50%{
        background-color: #3c3cf1;
    }
    100%{
        background-color: #1515ec;
    }
}
@keyframes cambioAncho{
    0%{
        width: 550px;
        background-color: #9191eb;
    }
    
    50%{
        width: 350px;
        background-color: #33338d;
    }
    100%{
        width: 250px;
        background-color: #3a3a6b;
    }
}